Repository production-ml/passwords: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

run-pytest-on-pipeline:
  stage: test-pipeline
  image: $PYTHON_IMAGE
  script:
  - echo

build-pipeline-docker-image:
  stage: build-pipeline
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  script:
  - echo "Building docker image"
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $PIPELINE_IMAGE_TAG .
  - docker push $PIPELINE_IMAGE_TAG
  ...

train-model:
  stage: run-pipeline
  image: $PIPELINE_IMAGE_REF
  script:
  - sh -ux ./scripts/run_pipeline.sh

update-model-if-qualified:
  stage: update-model
  image: $PYTHON_IMAGE
  script:
  - export VERSION=$(cat $MODEL_VERSION_PATH | awk -F. -v OFS=. 'NF==1{print ++$NF}; NF>1{$NF=sprintf("%0*d", length($NF), ($NF+1)); print}')
  - echo $VERSION > $MODEL_VERSION_PATH
  - echo $VERSION
  ...

run-pytest-on-api:
  stage: test-api
  image: $PYTHON_IMAGE
  script:
  - echo

build-api-docker-image:
  stage: build-api
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  script:
  - echo "Building docker image"
  - cp Pipfile package/ && cp Pipfile.lock package/
  - cd package
  - docker build -t build-image:latest .
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

deploy-api-docker-image-staging:
  stage: deploy-api
  image: node:15.4.0-buster
  script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  - python3 -V
  - 'apt-get update || : && apt-get install python3-pip -y'
  - pip3 install pipenv
  - curl https://pyenv.run | bash
  - export PATH="/root/.pyenv/bin:$PATH"
  ...

changes in ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

test ci triggeringg
  package/dummy
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

modify ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

changes in ci; remove package/dummy
  .gitlab-ci.yml
  package/dummy
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

changes in dockerfile.app
  Dockerfile.app
Due: deploy-api-docker-image-staging

heroku job: changes in ci and slugignore
  .gitlab-ci.yml
  .slugignore
Due: deploy-api-docker-image-staging

moving around lstm_model packageg
  package/app.py
  package/lstm_model/__init__.py
  package/lstm_model/base_model.py
  package/lstm_model/utils.py
  package/templates/index.html
  package/test_app.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified

moving around app
  app/app.py
  app/templates/index.html
  app/test_app.py
Due: deploy-api-docker-image-staging

moving around lstm_model packageg
  packages/lstm_model/lstm_model/__init__.py
  packages/lstm_model/lstm_model/base_model.py
  packages/lstm_model/lstm_model/utils.py
  packages/lstm_model/setup.py
Due: deploy-api-docker-image-staging

creating lstm package and fixing Pipfle.lock
  Pipfile
  Pipfile.lock
  packages/lstm_model/setup.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

cleaning up everything after creating lstm_model package
  .gitlab-ci.yml
  Dockerfile.app
  Pipfile
  Pipfile.lock
  Procfile
  dvc.lock
  dvc.yaml
  metrics.json
  scripts/run_pipeline.sh
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

fix error in Dockerfile - reorder COPY to install lstm_model
  Dockerfile.pipeline
  Pipfile
  Pipfile.lock
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

remove pip install dvc, because it moved to Pipfile
  .gitlab-ci.yml
  Dockerfile.app
Due: deploy-api-docker-image-staging

update setup.py with install_requires
  Pipfile.lock
  packages/lstm_model/setup.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

model was retrained in CI, pushing changes, new version 0.0.15
  dvc.lock
  metrics.json
  requirements.txt
Due: deploy-api-docker-image-staging

add COPY packages to Dockerfile.pipeline
  Dockerfile.app
  packages/lstm_model/setup.py
Due: deploy-api-docker-image-staging

move dvc from dev deps
  Pipfile
  Pipfile.lock
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

model was retrained in CI, pushing changes, new version 0.0.17
  requirements.txt
Due: deploy-api-docker-image-staging

remove dvc.md
  DVC.md
Due: deploy-api-docker-image-staging

change in dockerfile.app
  Dockerfile.app
Due: deploy-api-docker-image-staging

change in ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

change ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

update repo to use DVC
  .dvc/.gitignore
  .dvc/config
  .dvc/plots/confusion.json
  .dvc/plots/confusion_normalized.json
  .dvc/plots/default.json
  .dvc/plots/linear.json
  .dvc/plots/scatter.json
  .dvc/plots/smooth.json
  .dvcignore
  .gitignore
  .gitlab-ci.yml
  .slugignore
  Dockerfile.app
  Dockerfile.pipeline
  Pipfile
  Pipfile.lock
  Procfile
  README.md
  app/app.py
  app/templates/index.html
  app/test_app.py
  config.toml
  dvc.lock
  dvc.yaml
  metrics.json
  package/MODEL_VERSION
  package/lstm_model/resources/one_epoch_model/saved_model.pb
  package/lstm_model/resources/one_epoch_model/variables/variables.data-00000-of-00001
  package/lstm_model/resources/one_epoch_model/variables/variables.index
  package/lstm_model/resources/tokenizer.pickle
  packages/lstm_model/lstm_model/__init__.py
  packages/lstm_model/lstm_model/base_model.py
  packages/lstm_model/lstm_model/utils.py
  packages/lstm_model/setup.py
  requirements.txt
  scripts/download_data.sh
  scripts/process_data.py
  scripts/run_pipeline.sh
  scripts/train.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified

Path conditions:
  run-pytest-on-pipeline: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  build-pipeline-docker-image: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  train-model: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  update-model-if-qualified: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  run-pytest-on-api: (any of: package/**/*) and (not (any of: package/lstm_model/**/*))
  build-api-docker-image: (any of: package/**/*) and (not (any of: package/lstm_model/**/*))
  deploy-api-docker-image-staging: not (any of: package/lstm_model/**/*)
