Repository production-ml/passwords: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

run-pytest-on-pipeline:
  stage: test-pipeline
  image: $PYTHON_IMAGE
  script:
  - echo

build-pipeline-docker-image:
  stage: build-pipeline
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  script:
  - echo "Building docker image"
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $PIPELINE_IMAGE_TAG .
  - docker push $PIPELINE_IMAGE_TAG
  ...

train-model:
  stage: run-pipeline
  image: $PIPELINE_IMAGE_REF
  script:
  - sh -ux ./scripts/run_pipeline.sh

update-model-if-qualified:
  stage: update-model
  image: $PYTHON_IMAGE
  script:
  - export VERSION=$(cat $MODEL_VERSION_PATH | awk -F. -v OFS=. 'NF==1{print ++$NF}; NF>1{$NF=sprintf("%0*d", length($NF), ($NF+1)); print}')
  - echo $VERSION > $MODEL_VERSION_PATH
  - echo $VERSION
  ...

run-pytest-on-api:
  stage: test-api
  image: $PYTHON_IMAGE
  script:
  - echo

build-api-docker-image:
  stage: build-api
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  script:
  - echo "Building docker image"
  - cp Pipfile package/ && cp Pipfile.lock package/
  - cd package
  - docker build -t build-image:latest .
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

deploy-api-docker-image-staging:
  stage: deploy-api
  image: node:15.4.0-buster
  script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  - python3 -V
  - 'apt-get update || : && apt-get install python3-pip -y'
  - pip3 install pipenv
  - curl https://pyenv.run | bash
  - export PATH="/root/.pyenv/bin:$PATH"
  ...

scripts update
  scripts/run_pipeline.sh
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

dvc stage files
  dvc.lock
  dvc.yaml
Due: deploy-api-docker-image-staging

update pipenv files
  Pipfile.lock
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

new scripts/ files
  scripts/download_data.sh
  scripts/process_data.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

add pylint, flake8 in --dev
  Pipfile
  Pipfile.lock
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

refactor model
  package/lstm_model/base_model.py
  scripts/process_data.py
  scripts/train.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified

add two stages in dvc pipeline
  .gitignore
  config.toml
  dvc.lock
  dvc.yaml
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

add third stage to dvc pipeline
  dvc.lock
  metrics.json
Due: deploy-api-docker-image-staging

turn lstm model into package
  package/lstm_model/__init__.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified

bump api version to 0.0.8; update requirements if necessary
  package/requirements.txt
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

dim=8 experiment
  config.toml
  dvc.lock
  dvc.yaml
  metrics.json
  scripts/train.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

file with DVC notes
  DVC.md
Due: deploy-api-docker-image-staging

add Node and CML to Dockerfile
  Dockerfile
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

update Dockerfile
  Dockerfile
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

try to run dvc repro and cml
  .gitlab-ci.yml
  Dockerfile
  Pipfile
  scripts/download_data.sh
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

try to install dvc in training job
  .gitlab-ci.yml
  Pipfile
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

comments in gitab ci file
  .gitlab-ci.yml
  DVC.md
Due: deploy-api-docker-image-staging

dim=1 to find out what happens
  config.toml
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

add dvc remote; add dvc push in training; merge train and update stages to produce single commit
  .dvc/config
  .gitlab-ci.yml
  DVC.md
Due: deploy-api-docker-image-staging

pip install dvc[all]
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

changes after model training in Gitlab CI
  dvc.lock
  metrics.json
Due: deploy-api-docker-image-staging

bump api version to 0.0.8; update requirements if necessary
  package/MODEL_VERSION
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

Feature/heroku deploy example
  .gitlab-ci.yml
  Dockerfile.app
  Dockerfile.pipeline
  Pipfile
  README.md
  docker-compose.yml
  heroku.yml
  package/requirements.txt
  package/test_app.py
  pytest.ini
  requirements.txt
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

bump api version to 0.0.8; update requirements if necessary
  requirements.txt
Due: deploy-api-docker-image-staging

move readme info
  DVC.md
  README.md
Due: deploy-api-docker-image-staging

changes in app.py and Dockerfile to adapt for scripts/ modications
  package/Dockerfile
  package/app.py
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

Pipeline fix
  .dvc/config
  .gitlab-ci.yml
  DVC.md
  Dockerfile
  Pipfile
  config.toml
  dvc.lock
  dvc.yaml
  metrics.json
  package/MODEL_VERSION
  scripts/download_data.sh
  scripts/train.py
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

bump api version to 0.0.9; update requirements if necessary
  package/MODEL_VERSION
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

changes in ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

remove hardcoded lstm model resources
  package/lstm_model/resources/one_epoch_model/saved_model.pb
  package/lstm_model/resources/one_epoch_model/variables/variables.data-00000-of-00001
  package/lstm_model/resources/one_epoch_model/variables/variables.index
  package/lstm_model/resources/tokenizer.pickle
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified

add build-arg GOOGLE_APPLICATION_CREDENTIALS when building api image in ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

ci change: edit git tag command
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

changes after model training in Gitlab CI
  Pipfile.lock
  dvc.lock
  metrics.json
Due: run-pytest-on-pipeline, build-pipeline-docker-image, train-model, update-model-if-qualified, deploy-api-docker-image-staging

bump api version to 0.0.10
  package/MODEL_VERSION
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

remove MODEL_VERSION file
  .gitlab-ci.yml
  package/MODEL_VERSION
Due: run-pytest-on-api, build-api-docker-image, deploy-api-docker-image-staging

modify ci to remove MODEL_VERSION file
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

modify ci
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

changes in dockerfile
  Dockerfile.app
Due: deploy-api-docker-image-staging

ci changes
  .gitlab-ci.yml
Due: deploy-api-docker-image-staging

Path conditions:
  run-pytest-on-pipeline: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  build-pipeline-docker-image: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  train-model: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  update-model-if-qualified: any of: package/lstm_model/**/*, scripts/**/*, Dockerfile, Pipfile, Pipfile.lock, config.toml
  run-pytest-on-api: (any of: package/**/*) and (not (any of: package/lstm_model/**/*))
  build-api-docker-image: (any of: package/**/*) and (not (any of: package/lstm_model/**/*))
  deploy-api-docker-image-staging: not (any of: package/lstm_model/**/*)
